@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;900&display=swap");

.driver-signup-jumbotron {
	background-color: var(--light-grey);
	background-image: url("assets/driver-hero.jpg");
	height: 80vh;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-position: center;
}

.dfs-branding {
	position: absolute;
	top: 15px;
	left: 15px;
}

.driver-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(
		0deg,
		rgba(34, 98, 236, 0.096) 0%,
		rgba(165, 95, 3, 0.288) 100%
	);
}

h1.driver-hero-headline {
	color: #fff;
	font-family: "Montserrat", sans-serif;
	font-size: 370%;
	font-weight: 900;
}
h1.driver-hero-headline span {
	color: var(--primary-color);
}

p.driver-hero-subhead {
	color: #fff;
}

.driver-right-column {
	border: 1px solid var(--primary-color);
	border-radius: 12px;
	background-color: #f68b2117;
}

@media (min-width: 1200px) {
	.driver-left-column,
	.driver-right-column {
		height: 600px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

@media (max-width: 1199px) {
	h1.driver-hero-headline {
		text-align: center;
	}
	p.driver-hero-subhead {
		text-align: center;
	}
}

@media (max-width: 600px) {
	.driver-signup-jumbotron {
		background-image: url("assets/driver-hero-mobile.jpg");
	}
	h1.driver-hero-headline {
		font-size: 270%;
	}

	p.driver-hero-subhead {
		margin-top: 10px;
		font-size: 125%;
	}
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
	h1.driver-hero-headline {
		font-size: 350%;
	}
}
